# Note: If you are using Azure App Service, go to your app's Configuration,
# and then set the following values into your app's "Application settings".

CLIENT_ID=1aa2583d-5b89-414c-a655-48120669b08e
CLIENT_SECRET=24279c4e-91ef-4cd2-ab39-fc0112a1327c

# The AUTHORITY variable expects a full authority URL.
#
# If you are using an AAD tenent, configure it as
# "https://login.microsoftonline.com/TENANT_GUID"
# or "https://login.microsoftonline.com/subdomain.onmicrosoft.com".
#
# If you are using a CIAM tenant, configure it as "https://subdomain.ciamlogin.com"
#
# Alternatively, leave it undefined if you are building a multi-tenant app in world-wide cloud
AUTHORITY=https://login.microsoftonline.com/fc8a46c1-7fe3-4336-9e22-cd836ac7996c
