aiohttp==3.8.4
aiosignal==1.3.1
argon2-cffi==20.1.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==3.3.1
blinker==1.6.2
build==0.10.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.7
contourpy==1.0.7
cpplint==1.6.1
cryptography==39.0.2
cycler==0.11.0
Cython==0.29.33
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.6
doctestfn==1.0.3
editables==0.3
executing==1.2.0
fastjsonschema==2.16.3
Flask==2.3.2
fonttools==4.39.4
frozenlist==1.3.3
idna==2.10
iniconfig==1.1.1
ipython==8.11.0
ipython-genutils==0.2.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jupyterlab-pygments==0.1.2
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
meson==1.0.1
mistune==0.8.4
multidict==6.0.4
mypy==1.1.1
mypy-extensions==1.0.0
mysql-connector-python==8.2.0
nbclient==0.6.6
nbconvert==6.5.0
nest-asyncio==1.5.6
notebook==6.4.11
numpy==1.24.3
olefile==0.46
packaging==23.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pluggy==1.0.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.21.12
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.10.4
pycairo==1.23.0
pycparser==2.21
Pygments==2.14.0
pyparsing==3.0.8
pyproject-hooks==1.0.0
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.2.2
pytest-runner==5.2
python-dateutil==2.8.2
pytz==2022.7.1
pyzmq==24.0.1
requests==2.26.0
semantic-version==2.10.0
Send2Trash==1.8.0
setuptools-rust==1.5.2
setuptools-scm==7.1.0
shtab==1.6.4
six==1.16.0
stack-data==0.6.2
termcolor==1.1.0
terminado==0.10.1
tldr==3.2.0
toml==0.10.2
tomlkit==0.11.6
tornado==6.2
tqdm==4.65.0
urllib3==1.26.15
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.4
wrapt==1.15.0
yarl==1.8.2
yaspin==2.1.0
